body {
    padding: 0%;
    margin: 0%;
    min-height: 100vh;
   background-color: black;
    background-size: cover;
    backdrop-filter: brightness(0.2);
    background-attachment: scroll;
    color: #f2f2f2;

}


#faixada {
    width: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.jumpscare{
    width: 65%;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%,0%);
}

.jumpscarec{
    width: 85%;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%,0%);
}

.jumpscarefun{
    width: 85%;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%,0%);
}

.jumpscareb{
    width: 100%;
    position: relative;
    left: 50%;
    top: 40%;
    transform: translate(-50%,0%);
}